.contairn{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;
    }