/* наша команда */
.mn{
    background-color: var(--bacround-button);
}
.our-team{
    
    font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   letter-spacing: 0.03em;
   }   
  

.card{


    
    background: var(--white-color);
    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &-link div + div{ 
        margin-left: 30px;
        }


        &-link{
            display: flex;
        }
}
.team {
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
     letter-spacing: 0.03em;


     &-link{
        color: var( --text-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        }

      }
     
        
        

  