img{
    width: 370px;
}
ul{
    
    margin: 0;

}
.contairn{

}

.img{
    width: 370px;
height: 294px;
left: 1015px;
top: 1061px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
 ul{ 
      list-style: none;}
    
.ul{ text-decoration: none;
}
.title a{text-decoration: none;
}
a{
    text-decoration: none;
}

 .nav-list .link-item .curent{
    color: #2196F3;
}
body{
    fill:#757575;
    background-color: #ffffff;
}
ul{
    padding: 0;
}

